body {
    margin: 0;
    padding: 0;
}

.bl {
    display: block;
}
.flex {
    display: flex;
}
.fixed {
    position: fixed;
}

.fs14 {
    font-size: 14px;
}
.fs18 {
    font-size: 18px;
}
.fs24 {
    font-size: 24px;
}